.App {
  text-align: center;
}

.homepageImage{
  width: 100%;
}

.homepageButton{
  border-color: #282C34;
  background-color: #282C34;
  color: #61DAFB;
  border-width: 1px;
  border-radius: 5px;
  margin: 50px 40px;
  padding: 20px 50px;
font-weight: 500;
font-size: 12px;
}

.hiddenHomepageButton{
  border-color: black;
  border-width: 1px;
  margin: 20px 70px;
  margin-top: 300px;
  padding: 20px 50px;

  position: relative;
  bottom: 200px;
}

  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  
  
  
    /*color: #61dafb;*/
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  