.interestingTextdiv{
    padding: 50px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 200px;   
    box-shadow: 5px 5px 10px 1px #cfcfcf;
}

.smartassTextp, .smartassTexth1{
width: 90%;
margin-left: 5%;
text-align: justify;
}